button {
  border-radius: 4px;
  color: black;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  padding: 0.25em;
  font-family: "Maven Pro", sans-serif;
}
