.form__addReview {
  width: fit-content;
  margin: 0 auto;
  position: relative;
}
form {
  position: relative;
  box-sizing: border-box;
  height: auto;
  width: auto;
  padding: 1em;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
}
input {
  margin: 1em;
  height: 2em;
  width: 15em;
}
button {
  border-radius: 4px;
  color: black;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  padding: 0.25em;
  font-family: "Maven Pro", sans-serif;
}

.errors {
  color: rgba(249, 0, 0, 0.646);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 0.25em;
  box-sizing: border-box;
}
